* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #333;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}
.btn {
  background-color: yellow;
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  border: none;
  outline: none;
  box-shadow: 0 16px 0 0 hsl(60, 100%, 30%);
  position: relative;
}
.btn:active {
  top: 10px;
  background-color: hsl(60, 100%, 45%);
  box-shadow: 0 6px 0 0 hsl(60, 100%, 30%);
}
